.firstHeader{
    width: 100%;
}
.logoHeader{
    display: inline-block;
    float: left;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}
.logo{
    width: 100px;
    height: auto;
}
.searchContainer{
    margin-top: 10px;
    display: inline-block;
    text-align: right;
    float: right;
}
.searches{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 10px;
    width: 297px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #BDBDBD;
}
.pClass{
    display: inline-block;
}
.location{
    border: 1px solid #F2F2F2;
    margin-top: 20px;
    height: 40px;
}
.searchIcon{
    color: rgba(235, 87, 87, 0.9);
}
.add{
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #FFFFFF;
}
input[type="text"], input[type="number"]{
    width: 30%;
    display: inline-block;
    padding: 10px;
    margin: 0;
    outline: none;
    border: none;
    font-size: 14px;
}
input[type="text"]:focus,input[type="number"]:focus{
    border: 1px solid #000000;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    outline: none;
}
input[type="text"]:visited ~ span{
    display: none!important;
    border: hotpink 1px solid;
}
label{
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    z-index: 2;
    position: relative;
    top: -30px;
    left: 50px;
}
.submit{
    display: inline-block;
}
button{
    display: flex;
    align-items: center;
    border:none;
    background: rgba(235, 87, 87, 0.9);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 10px;
    color: white;
}
button span{
    color: white;
}
.addNew{
    display: block!important;
}
.selectCity{
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    width: 40%;
    transition: 0.8s;
    padding:0;
    margin: 0;
}
.selectCity p{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}
.selectCity p:hover{
    cursor: pointer;
}
.selectCity span{
    position: relative;
    top: 7px;
}
.selectGuests{
    display: inline-block;
    width: 40%;
    justify-content: left;
    text-align: left;
}
.selectGuests p{
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.selectGuests p:nth-child(2){
    color: #828282;
}
.selectGuests span{
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 2px;
    color: #828282;
    font-size: 20px;
    margin: 5px;
    position: relative;
    text-align: left;
    cursor: pointer;
}
.selectGuests div{
    text-align: left;
    position: relative;
    left: 0;
}
.number{
    font-family: Muli!important;
    font-style: normal!important;
    font-weight: bold!important;
    font-size: 20px!important;
    line-height: 18px!important;
    color: #000000!important;
    border: none!important;
    position: relative;
    top: -5px;
}
@media only screen and (max-width: 15cm){
    .stay{
        padding: 0;
        margin: 0;
    }
    .input[type="text"]{
        width: 100%;
    }
    .addNew{
        top: 30px;
    }
    .location, .selectCity , .selectGuests{
        padding: 0;
        margin: 0;
    }
    .selectFeature{
        display: block;
        height: 230px;

    }
    .submit{
        position: relative;
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        margin: auto 0;
        bottom: 0;
    }
    .submit button{
        margin-left: 35%;
    }
}